<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="sg.edu.nus.learnkotlin">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android:permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android:permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android:permission.ACCESS_WIFI_STATE"/>

    <application
            android:allowBackup="true"
            android:icon="@drawable/icon"
            android:label="@string/app_name"
            android:roundIcon="@drawable/round_icon"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity
                android:name=".MainActivity"
                android:label="@string/app">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".ActivityLogin"
                android:label="@string/login">
        </activity>
        <activity
                android:name=".ActivityRegister"
                android:label="@string/register">
        </activity>
        <activity
                android:name=".ActivityHome"
                android:label="@string/app">
        </activity>
        <activity
                android:name=".ActivityIntroToKotlin"
                android:label="@string/sub1">
        </activity>
        <activity
                android:name=".ActivityArray"
                android:label="@string/sub6">
        </activity>
        <activity
                android:name=".ActivityControlFlow"
                android:label="@string/sub3">
        </activity>
        <activity
                android:name=".ActivityFunction"
                android:label="@string/sub4">
        </activity>
        <activity
                android:name=".ActivityMathAndLogic"
                android:label="@string/sub2">
        </activity>
        <activity
                android:name=".ActivityNullSafety"
                android:label="@string/sub7">
        </activity>
        <activity
                android:name=".ActivityString"
                android:label="@string/sub5">
        </activity>
        <activity
                android:name=".ActivityWhatIsKotlin"
                android:label="@string/sub1_1">
        </activity>
        <activity
                android:name=".ActivityWhatIsKotlinQuiz"
                android:label="@string/sub1_1">
        </activity>
        <activity
                android:name=".ActivityPrintHelloWorld"
                android:label="@string/sub1_2">
        </activity>
        <activity
                android:name=".ActivityPrintHelloWorldQuiz"
                android:label="@string/sub1_2">
        </activity>
        <activity
                android:name=".ActivityComment"
                android:label="@string/sub1_3">
        </activity>
        <activity
                android:name=".ActivityCommentQuiz"
                android:label="@string/sub1_3">
        </activity>
        <activity
                android:name=".ActivityVariableDeclaration"
                android:label="@string/sub1_4">
        </activity>
        <activity
                android:name=".ActivityVariableDeclarationQuiz"
                android:label="@string/sub1_4">
        </activity>
        <activity
                android:name=".ActivityDataType"
                android:label="@string/sub1_5">
        </activity>
        <activity
                android:name=".ActivityDataTypeQuiz"
                android:label="@string/sub1_5">
        </activity>
        <activity
                android:name=".ActivityTypeConversion"
                android:label="@string/sub1_6">
        </activity>
        <activity
                android:name=".ActivityTypeConversionQuiz"
                android:label="@string/sub1_6">
        </activity>
        <activity
                android:name=".ActivityArrayQuiz"
                android:label="@string/sub6">
        </activity>
        <activity
                android:name=".ActivityStringQuiz"
                android:label="@string/sub5">
        </activity>
        <activity
                android:name=".ActivityIfElse"
                android:label="@string/sub3_1">
        </activity>
        <activity
                android:name=".ActivityWhen"
                android:label="@string/sub3_2">
        </activity>
        <activity
                android:name=".ActivityForLoop"
                android:label="@string/sub3_3">
        </activity>
        <activity
                android:name=".ActivityWhileLoop"
                android:label="@string/sub3_4">
        </activity>
        <activity
                android:name=".ActivityDoWhileLoop"
                android:label="@string/sub3_5">
        </activity>
        <activity
                android:name=".ActivityBreak"
                android:label="@string/sub3_6">
        </activity>
        <activity
                android:name=".ActivityBreakQuiz"
                android:label="@string/sub3_6">
        </activity>
        <activity
                android:name=".ActivityDoWhileLoopQuiz"
                android:label="@string/sub3_5">
        </activity>
        <activity
                android:name=".ActivityForLoopQuiz"
                android:label="@string/sub3_3">
        </activity>
        <activity
                android:name=".ActivityWhileLoopQuiz"
                android:label="@string/sub3_4">
        </activity>
        <activity
                android:name=".ActivityWhenQuiz"
                android:label="@string/sub3_2">
        </activity>
        <activity
                android:name=".ActivityIfElseQuiz"
                android:label="@string/sub3_1">
        </activity>
        <activity
                android:name=".ActivityGame"
                android:label="@string/game">
        </activity>
        <activity
                android:name=".ActivityNotes"
                android:label="@string/online">
        </activity>
        <activity
                android:name=".ActivityVideo"
                android:label="@string/video">
        </activity>
        <activity
                android:name=".ActivityDisclaimer"
                android:label="@string/terms">
        </activity>
        <activity
                android:name=".ActivityVideosPage"
                android:label="@string/video">
        </activity>
        <activity
                android:name=".ActivityArithmetic"
                android:label="@string/sub2_1">
        </activity>
        <activity
                android:name=".ActivityRelation"
                android:label="@string/sub2_2">
        </activity>
        <activity
                android:name=".ActivityAssignment"
                android:label="@string/sub2_3">
        </activity>
        <activity
                android:name=".ActivityLogical"
                android:label="@string/sub2_4">
        </activity>
        <activity
                android:name=".ActivityInputOutput"
                android:label="@string/sub2_5">
        </activity>
        <activity
                android:name=".ActivityArithmeticQuiz"
                android:label="@string/sub2_1">
        </activity>
        <activity
                android:name=".ActivityRelationQuiz"
                android:label="@string/sub2_2">
        </activity>
        <activity
                android:name=".ActivityAssignmentQuiz"
                android:label="@string/sub2_3">
        </activity>
        <activity
                android:name=".ActivityLogicalQuiz"
                android:label="@string/sub2_4">
        </activity>
        <activity
                android:name=".ActivityInput"
                android:label="@string/sub2_51">
        </activity>
        <activity
                android:name=".ActivityOutput"
                android:label="@string/sub2_52">
        </activity>
        <activity
                android:name=".ActivityStandardLibrary"
                android:label="@string/sub4_1">
        </activity>
        <activity
                android:name=".ActivityUserDefined"
                android:label="@string/sub4_2">
        </activity>
        <activity android:name=".ActivityVideo1">
        </activity>
        <activity android:name=".ActivityVideo3">
        </activity>
        <activity android:name=".ActivityVideo4">
        </activity>
        <activity android:name=".ActivityVideo5">
        </activity>
        <activity android:name=".ActivityVideo6">
        </activity>
    </application>

</manifest>